# fly.toml app configuration file generated for resparq
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = 'resparq'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[env]
  NODE_ENV = 'production'
  PORT = '3000'
