# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "32b61408918a3191610084f0d2700fe5"
name = "exit-intent-offer-v2"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,write_discounts,read_orders"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]

[app_proxy]
url = "/apps/exit-intent"
subpath = "exit-intent"
prefix = "apps"